#custom_header {
    dock: top;
    height: 1;
    background: #111111;
    color: #FFFFFF;
    width: 100%;
}

#close_button {
    width: 3;
    height: 1;
    background: #FF5252;
    color: white;
    text-style: bold;
    border: none;
    content-align: center middle;
    margin: 0;
    padding: 0;
    min-width: 3;
}

#header_title {
    width: 1fr;
    content-align: center middle;
    text-style: bold;
    height: 1;
}

Screen {
    align: center middle;
    background: #000000;
    /* Default: Dark */
    color: #FFFFFF;
}

Screen.-light-mode {
    background: #FFFFFF;
    /* Light toggle */
    color: #000000;
}

Static {
    background: #111111;
    color: #EEEEEE;
}

Screen.-light-mode Static,
.-light-mode Static {
    background: #E3F2FD;
    color: #000000;
}

#custom_header Static {
    background: transparent;
}

Footer {
    background: #111111;
    color: #FFFFFF;
}

#main_container {
    height: 100%;
    width: 100%;
    padding: 1 1;
    align: center top;
}

Button {
    background: blue;
    color: white;
}

Button.-dark-mode {
    background: #424242;
    /* Darker grey */
    color: #EEEEEE;
    border: solid #616161;
}

#status {
    margin: 0 0 0 0;
}

#currently_playing {
    margin: 0 0 0 0;
    margin-bottom: 0;
    /* Add some space below currently playing */
}

#command_history_container {
    border: solid grey;
    height: 9;
    /* 6 lines for history + 1 for title + 2 for borders */
    width: 100%;
    margin-top: 0;
    padding: 0 0;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

#command_history_container.-dark-mode {
    border: solid #424242;
}

.command-history-title {
    text-align: center;
    text-style: bold;
    color: gray;
}

.command-history-title.-dark-mode {
    color: #9E9E9E;
}

#weather_report_container {
    border: solid grey;
    height: 13;
    width: 100%;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

#weather_report_container.-dark-mode {
    border: solid #424242;
}

.weather-report-title {
    text-align: center;
    text-style: bold;
    color: gray;
}

.weather-report-title.-dark-mode {
    color: #9E9E9E;
}

#weather_report_box {
    height: 11;
    width: 100%;
    overflow: hidden;
    content-align: center middle;
}

#command_history_box {
    height: 6;
    /* Fixed height for 6 lines of text */
    width: 100%;
    overflow: hidden;
    /* Hide overflow if text exceeds height */
}